.card{
  position: static;
  min-width: 29vw;
  margin-top: 20px;
}


.card > img{
  width: fit-content;
  max-height: 300px;
  align-self: center;
  padding: 20px;
}

.rating > label{
  font-size: 35px;
}

#button-seeMore {
  margin:
    0px
    0px
    15px
    15px;
  background-color: #f5b800;
  border-color: #f5b800;
}